app = "launchpad-replace-me"

kill_signal = "SIGINT"
kill_timeout = 5
processes = []

[build]
  # Use remote builder (Fly will build the Docker image)
  builder = "heroku/buildpacks:20"

[env]
  PORT = "3000"

[[services]]
  internal_port = 3000
  protocol = "tcp"

  [services.concurrency]
    type = "connections"
    hard_limit = 25

  [[services.ports]]
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443
